#Pacient {
    background: #fe9 !important;
    border-radius: 1em !important;
    padding: 1em !important;
    transform: scale(.9) !important;
    transform-origin: 0 0 !important;
    transition: transform .6s !important;
    user-select: none !important;
  }
.large {
    transform: scale(1.3) !important;
  }